.App {
  text-align: center;
}

.cardComp{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 80px;
}

.card-text span{
  text-decoration: line-through;
}


.card img{
  width: 286px;
  height: 250px;
}

.CartValue{
  text-align: right;
}
